/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  height: auto; /* DEBUG:  */
  border: 1px solid black;
  text-align: center;
}

.container {
  border: solid yellow;
}

.container-fluid {
  border: solid red;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}


/*  header  */
/*  navbar */
nav {
  background-color: #2C3E50;
}
/* elenchi puntati:  */
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 2%;
}
nav a {
  text-decoration: none;
  color: white;
}
/*-- start bootstrap */
.start {
  background-color: #1ABC9C;
  height: 300px;
  padding: 3%;
}
h1, h6 {
  color: white;
}
.start > img {
  width: 10%;
}
hr {
  color: white
}
/* portfolio:  */
h2 {
  color: #2C3E50;
}

.portfolio > hr {
  color: #2C3E50;
}
/* row1 */
.casa {
  background-image: url(../img/casa.png);
  height: 150px;
  background-size: 60%;
  background-repeat: no-repeat;
  margin-left: 30%;
  margin-top: 10%;
}
