/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  height: 50px; /* DEBUG:  */
  border: 1px solid black;
  text-align: center;
}

.container {
  border: solid yellow;
}

.container-fluid {
  border: solid red;
}


/*  header  */
/*  navbar */
