/*  regole generali della pagina */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  border: solid 1px black;
  height: 100px;
}

.row {
  border: solid 1px black;
  height: 100px;
}




/*  header  */
/*  navbar */
